<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Home</title>
    <link rel="stylesheet" href="assets/styles/style.min.css" />
    <link rel="stylesheet" href="assets/plugin/waves/waves.min.css" />
  </head>
  <body>
    <div id="single-wrapper">
      <form action="#" class="frm-single">
        <div class="inside">
            <div>
                <% if(flash_status == STATUS_SUCCESS){ %>
                <div class="alert alert-success" role="alert">
                  <%=flash_success_message%>
                </div>
                <% }if(flash_status == STATUS_ERROR){%>
                <div class="alert alert-danger" role="alert">
                  <%=flash_error_message%>
                </div>
                <%} %>
              </div>
          <div class="title"><strong><%= WEBSITE_TITLE%></strong></div>
          <div class="frm-title">Confirm Email</div>
          <img src="assets/images/icon-email.png" alt="" class="ico-email" />
          <p class="text-center">
            A email has been send to
            <strong><%= PROJECT_DEFAULT_EMAIL%></strong>. Please check for an
            email from company and click on the included link to reset your
            password.
          </p>
          <div class="row">
          <div class="col-md-6 text-left">
            <a href="/admin/login" class="a-link"
            ><i class="fa fa-sign-in"></i>Return to Login Page.</a
          >
          </div>
          <div class="col-md-6 text-right">
            <a href="/admin/resend_link/<%= PROJECT_DEFAULT_EMAIL%>" class="a-link"
              ><i class="fa fa-refresh"></i>Resend Link.</a
            >
          </div>
        </div>
          <div class="frm-footer"><%= WEBSITE_TITLE%> © 2020.</div>
        </div>
      </form>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/modernizr.min.js"></script>
    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugin/nprogress/nprogress.js"></script>
    <script src="assets/plugin/waves/waves.min.js"></script>
    <script src="assets/scripts/main.min.js"></script>
  </body>
</html>
