<% var result	=	(typeof result != typeof undefined && result) ? result	:{};%>
<div class="row small-spacing" >
	<div class="col-md-12 col-xs-12">
		<div class="box-content">
			<h4 class="box-title"><%= __('admin.system.shipping_address')%></h4>
			<div class="dropdown js__drop_down">
				<a href="<%= active_list_url%>/manage_address/add_address/<%= result && result.resultOne && result.resultOne[0]._id %>">
					<button type="button" class="btn btn-sm btn-primary">
						<i class="ico ico-left fa fa-plus"></i><%= __('admin.system.add_address')%>
					</button>
				</a>
				<a href="<%= active_list_url%>">
					<button type="button" class="btn btn-sm btn-violet">
						<i class="ico ico-left fa fa-step-backward"></i><%= __('admin.system.back')%>
					</button>
				</a>
			</div>
			
			
			<div class="card-content">
				<div class="col-xs-12">
					<div class="box-content">
						<% for(let i=0; i< result.resultOne.length; i++) { %>
						
							<div class="text-right">
							
								<a href="<%= active_list_url%>/manage_address/shipping_address/<%= result.resultOne[i]._id %>/<%= result.resultOne[i].shippingAddress.id %>">
									<button type="button" class="btn btn-sm btn-warning">
										<i class="ico ico-left fa fa-edit"></i><%= __('admin.system.edit')%>
									</button>
								</a>
								<% if(result && result.resultOne[i] && result.resultOne[i].shippingAddress && result.resultOne[i].shippingAddress.status === false) { %>
								<a class="confirm_box" href="javascript:void(0)" data-href="<%= active_list_url%>/manage_address/shipping_address/default/<%= result.resultOne[i]._id %>/<%= result.resultOne[i].shippingAddress.id %>" data-confirm-heading="<%=__("admin.system.are_you_sure")%>" data-confirm-message="<%=__("admin.user.loader_you_want_to_make_this_address_default")%>">
									<button type="button" class="btn btn-sm btn-primary">
										<i class="ico ico-left fa fa-check"></i><%= __('admin.system.make_default')%>
									</button>
								</a>
								<% } %>
								<% if(result && result.resultOne[i] && result.resultOne[i].shippingAddress && result.resultOne[i].shippingAddress.status === false) { %>
								<a class="confirm_box" href="javascript:void(0)" data-href="<%= active_list_url%>/manage_address/shipping_address/delete/<%= result.resultOne[i]._id %>/<%= result.resultOne[i].shippingAddress.id %>" data-confirm-heading="<%=__("admin.system.are_you_sure")%>" data-confirm-message="<%=__("admin.user.loader_you_want_to_delete_this_address")%>">
									<button type="button" class="btn btn-sm btn-danger">
										<i class="ico ico-left fa fa-solid fa-trash"></i><%= __('admin.system.delete')%>
									</button>
								</a>
							<% } %>
							
							</div>
						<div class="table-responsive placeBtn"> 
              <table class="table table-bordered">
                <tbody>
									<tr> 
										<th scope="row"><%= __('admin.user.country')%></th> 
										<td><%= (result.resultOne[i].country_name)	?	result.resultOne[i].country_name	:'N/A';%></td>
									</tr>
									<tr> 
										<th scope="row"><%= __('admin.user.state')%></th> 
										<td><%= (result.resultOne[i].state_name)	?	result.resultOne[i].state_name	:'N/A';%></td>
									</tr>
									<tr> 
										<th scope="row"><%= __('admin.user.city')%></th> 
										<td><%= (result.resultOne[i].city_name)	?	result.resultOne[i].city_name	:'N/A';%></td>
									</tr>
									<tr> 
										<th scope="row"><%= __('admin.user.street')%></th> 
										<td><%= (result.resultOne[i].shippingAddress.street)	?	result.resultOne[i].shippingAddress.street	:'N/A';%></td>
									</tr>
									<tr> 
										<th scope="row"><%= __('admin.user.pincode')%></th> 
										<td><%= (result.resultOne[i].shippingAddress.pincode)	?	result.resultOne[i].shippingAddress.pincode	:'N/A';%></td>
									</tr>
									<tr> 
										<th scope="row"><%= __('admin.user.default_address')%></th> 
										<td>
										<%
												var labelClass = result && result.resultOne[i] && result.resultOne[i].shippingAddress && result.resultOne[i].shippingAddress.status === true ? 'bg-success':'bg-warning';
												var labelText  = result && result.resultOne[i] && result.resultOne[i].shippingAddress && result.resultOne[i].shippingAddress.status === true ? 'Yes':'No';
											%>
											<span class="notice text-white <%= labelClass%>"><%= labelText%></span>
										</td>
									</tr>
								</tbody> 
							</table>
							
						</div>
						<br>
						
						<%} %>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-xs-12 -->
			</div>

				<h4 class="box-title"><%= __('admin.system.billing_address')%></h4>
			
				<div class="card-content">
					<div class="col-xs-12">
						<div class="box-content">
								<% for(let i=0; i< result.resultTwo.length; i++) { %>
								<div class="text-right">
							
									<a href="<%= active_list_url%>/manage_address/billing_address/<%= result.resultTwo[i]._id %>/<%= result.resultTwo[i].billingAddress.id %>">
										<button type="button" class="btn btn-sm btn-warning">
											<i class="ico ico-left fa fa-edit"></i><%= __('admin.system.edit')%>
										</button>
									</a>
									<% if(result && result.resultTwo[i] && result.resultTwo[i].billingAddress && result.resultTwo[i].billingAddress.status === false) { %>
									<a class="confirm_box" href="javascript:void(0)" data-href="<%= active_list_url%>/manage_address/billing_address/default/<%= result.resultTwo[i]._id %>/<%= result.resultTwo[i].billingAddress.id %>" data-confirm-heading="<%=__("admin.system.are_you_sure")%>" data-confirm-message="<%=__("admin.user.loader_you_want_to_make_this_address_default")%>">
										<button type="button" class="btn btn-sm btn-primary">
											<i class="ico ico-left fa fa-check"></i><%= __('admin.system.make_default')%>
										</button>
									</a>
									<% } %>
									<% if(result && result.resultTwo[i] && result.resultTwo[i].billingAddress && result.resultTwo[i].billingAddress.status === false) { %>
									<a class="confirm_box" href="javascript:void(0)" data-href="<%= active_list_url%>/manage_address/billing_address/delete/<%= result.resultTwo[i]._id %>/<%= result.resultTwo[i].billingAddress.id %>" data-confirm-heading="<%=__("admin.system.are_you_sure")%>" data-confirm-message="<%=__("admin.user.loader_you_want_to_delete_this_address")%>">
										<button type="button" class="btn btn-sm btn-danger">
											<i class="ico ico-left fa fa-solid fa-trash"></i><%= __('admin.system.delete')%>
										</button>
									</a>
									<% } %>
								</div>
								<div class="table-responsive placeBtn"> 
									<table class="table table-bordered">
										<tbody>
											<tr> 
												<th scope="row"><%= __('admin.user.country')%></th> 
												<td><%= (result.resultTwo[i].country_name)	?	result.resultTwo[i].country_name	:'N/A';%></td>
											</tr>
											<tr> 
												<th scope="row"><%= __('admin.user.state')%></th> 
												<td><%= (result.resultTwo[i].state_name)	?	result.resultTwo[i].state_name	:'N/A';%></td>
											</tr>
											<tr> 
												<th scope="row"><%= __('admin.user.city')%></th> 
												<td><%= (result.resultTwo[i].city_name)	?	result.resultTwo[i].city_name	:'N/A';%></td>
											</tr>
											<tr> 
												<th scope="row"><%= __('admin.user.street')%></th> 
												<td><%= (result.resultTwo[i].billingAddress.billingStreet)	?	result.resultTwo[i].billingAddress.billingStreet	:'N/A';%></td>
											</tr>
											<tr> 
												<th scope="row"><%= __('admin.user.pincode')%></th> 
												<td><%= (result.resultTwo[i].billingAddress.billingPincode)	?	result.resultTwo[i].billingAddress.billingPincode	:'N/A';%></td>
											</tr>
											<tr> 
												<th scope="row"><%= __('admin.user.default_address')%></th> 
												<td>
												<%
												var labelClassBilling = result && result.resultTwo[i] && result.resultTwo[i].billingAddress && result.resultTwo[i].billingAddress.status === true ? 'bg-success':'bg-warning';
												var labelTextBilling  = result && result.resultTwo[i] && result.resultTwo[i].billingAddress && result.resultTwo[i].billingAddress.status === true ? 'Yes':'No';
													%>
													<span class="notice text-white <%= labelClassBilling%>"><%= labelTextBilling%></span>
										  	</td>
											</tr>
										</tbody> 
									</table>
									
								</div>
								<br>
								
								<%} %>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-xs-12 -->
					</div>
		</div>
	</div>
</div>
