<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%=WEBSITE_TITLE%></title>
	<!-- favicon icon -->
	<link rel="shortcut icon" href="<%=WEBSITE_CSS_FILE_PATH%>images/logo/favicon.ico" type="image/x-icon">
    <link
      rel="stylesheet"
      href="<%=WEBSITE_CSS_FILE_PATH%>styles/style.min.css"
    />
    <link
      rel="stylesheet"
      href="<%=WEBSITE_CSS_FILE_PATH%>plugin/waves/waves.min.css"
    />
  </head>
  <script>
    DEFAULT_DATE_TIME_FORMAT = "<%= DEFAULT_DATE_TIME_FORMAT%>";
  </script>
  <body>
    <div id="single-wrapper">
      <form
        name="reset-password"
        id="reset-password"
        data-submit-btn-id="submit-reset-password"
        method="POST"
        class="frm-single on_click_submit"
      >
        <div class="inside">
          <div class="title">
            <img src="./assets/images/logo/logo.svg" alt="">
          </div>
          <div class="frm-title login_text"><%= __('admin.login.reset_password')%></div>
          <div class="frm-input form-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="frm-inp"
            />
            <i class="fa fa-lock frm-ico"></i>
            <span class="error" id="password_error"></span>
          </div>
          <div class="frm-input form-group">
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm password"
              class="frm-inp"
            />
            <i class="fa fa-lock frm-ico"></i>
            <span class="error" id="confirm_password_error"></span>
          </div>
          <div class="clearfix margin-bottom-20">
            <div>
              <a href="/admin/login" class="a-link">
                <i class="fa fa-unlock-alt"></i><%=
                __('admin.login.back_to_login')%>
              </a>
            </div>
          </div>
          <button
            type="button"
            id="submit-reset-password"
            class="btn-submit frm-submit"
          >
            <%= __('admin.login.reset_password')%><i
              class="fa fa-arrow-circle-right"
            ></i>
          </button>
          <div class="frm-footer"><%= ADMIN_FOOTER_HEADING%></div>
        </div>
      </form>
    </div>
    <script src="<%=WEBSITE_JS_FILE_PATH%>scripts/jquery.min.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>plugin/moment/moment.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>custom.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>scripts/modernizr.min.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>plugin/nprogress/nprogress.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>plugin/waves/waves.min.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>scripts/main.min.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>scripts/jquery-3.0.0.js"></script>
    <script src="<%=WEBSITE_JS_FILE_PATH%>scripts/jquery.form.js"></script>
    <script>
      $(".btn-submit").click(function () {
        var btnId = $(this).attr("id");
        startTextLoading(btnId);
        ajax_submit("reset-password", function (status, response) {
          if (status) {
            window.location.href = response.rediect_url;
          } else {
            stopTextLoading(btnId);
          }
        });
      });
    </script>
  </body>
</html>
