<div class="row small-spacing">
    <div class="col-lg-12 col-md-12 col-xs-12">
		<div class="box-content card bordered-all primary js__card">
			<h4 class="box-title bg-primary with-control">
				Search
				<span class="controls">
					<button type="button" class="control fa fa-minus js__card_minus"></button>
				</span>
			</h4>
			<div class="card-content js__card_content">
				<form id="searchForm" name="searchForm" >
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<input type="hidden" name="from_date" id="from_date"/>
								<input type="hidden" name="to_date" id="to_date"/>
								<input class="form-control input-daterange-datepicker" id ="daterange" type="text" name="daterange" placeholder="<%= __('admin.user.search_by_created_date')%>">
							</div>
						</div>	
						<!-- <div class="col-md-3 col-xs-12">
							<div class="form-group">
								<select class="form-control" name="status" id="search_by_month" class="search_by_month">
									<option value=""><%= __('admin.search.search_by_month')%></option>
									<option value="0">This month</option>
									<option value="3">Last 3 months</option>
									<option value="6">Last 6 months</option>
								</select>
							</div>
						</div> -->
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<select class="form-control" name="status" id="search_by_status" class="search_by_status">
									<option value=""><%= __('admin.search.search_by_order_status')%></option>
									<%
										if(typeof ORDER_STATUS_SEARCH_DROPDOWN!== typeof undefined && ORDER_STATUS_SEARCH_DROPDOWN.length > 0){
											ORDER_STATUS_SEARCH_DROPDOWN.map(searchStatus=>{
												var selectedFlag    = (typeof searchStatus.status_type !== typeof undefined && searchStatus.status_type  && searchStatus.status_type == statusType) ? "selected" : "";
												%>
												<option value="<%=searchStatus.status_id%>"  <%=selectedFlag%>><%=searchStatus.status_name%></option>    
											<%      
											});
										} %>
								</select>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<select class="form-control" name="location" id="search_by_location" class="search_by_location">
									<option value=""><%= __('admin.search.search_by_order_location')%></option>
									<%
										if(typeof countries!== typeof undefined && countries.length > 0){
											countries.map(searchCountry=>{
												<!-- var selectedFlag2    = (typeof searchCountry.name !== typeof undefined && searchCountry.name  && searchCountry.name == statusType) ? "selected" : ""; -->
												%>
												<option value="<%=searchCountry._id%>"><%=searchCountry.name%></option>    
											<%      
											});
										} %>
								</select>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<input class="form-control" id ="seller_name" type="text" name="seller_name" placeholder="<%= __('admin.user.search_by_seller_name')%>">
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<input class="form-control" id ="buyer_name" type="text" name="buyer_name" placeholder="<%= __('admin.user.search_by_buyer_name')%>">
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<button type="button" id="reset" class="btn btn-md waves-effect btn-danger">
							  <i class="ico ico-left fa fa-refresh"></i>
							  <%= __("admin.system.reset")%>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="box-content">
			<h4 class="box-title"><%=__('admin.system.orders')%></h4>
			
			<table id="data-table" class="table table-striped table-bordered display" style="width:100%">
				<thead>
					<tr>
						<th><%= __('admin.order._id')%></th>
						<th><%= __('admin.order.product_image')%></th>
						<th><%=__('admin.order.product_title')%></th>
						<th><%=__('admin.order.seller_name')%></th>
						<th><%=__('admin.order.buyer_name')%></th>
						<th><%=__('admin.order.quantity')%></th>
						<th><%=__('admin.order.total_price')%></th>
						<th><%=__('admin.system.status')%></th>
						<th><%=__('admin.system.created')%></th>
						<th><%=__('admin.system.action')%></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- DateRangepicker -->
<link rel="stylesheet" href="<%=WEBSITE_CSS_FILE_PATH%>plugin/daterangepicker/daterangepicker.css">

<!-- Ion Range SLider -->
<link rel="stylesheet" href="<%=WEBSITE_CSS_FILE_PATH%>plugin/ion-range-slider/css/ion.rangeSlider.css">
<link rel="stylesheet" href="<%=WEBSITE_CSS_FILE_PATH%>plugin/ion-range-slider/css/ion.rangeSlider.skinFlat.css">

<script src="<%=WEBSITE_JS_FILE_PATH%>scripts/jquery-3.0.0.js"></script>

<!-- Ion Ranger SLider -->
<script src="<%=WEBSITE_JS_FILE_PATH%>plugin/ion-range-slider/js/ion.rangeSlider.min.js"></script>
<script src="<%=WEBSITE_JS_FILE_PATH%>scripts/ion.rangeSlider.init.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="<%= WEBSITE_JS_FILE_PATH%>plugin/select2/css/select2.min.css">
<script src="<%= WEBSITE_JS_FILE_PATH%>plugin/select2/js/select2.min.js"></script>
<script>
	var dataTable 	="";
	$(document).ready(() => {
		$("#search_by_status").select2({
			placeholder: "Filter By Order Status",
			allowClear: true
		});
		$("#search_by_location").select2({
			placeholder: "Filter By Location",
			allowClear: true
		});
			
		if(sessionStorage.getItem("searchByMonth") && Boolean(sessionStorage.getItem("searchByMonth"))){
			$("#search_by_month").val(sessionStorage.getItem("searchByMonthValue"));
		}
		
		$(document).on("click", "#reset", function () {
			sessionStorage.setItem("searchByMonth", "");
			sessionStorage.setItem("searchByMonthValue", "");
		});


		dataTable = $('#data-table').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"dom"		: 'ltrip',
            "serverSide": true,
            "scrollX"	: true,
            "sorting"	: [[8,"desc"]],
            "lengthMenu": PAGE_LENGTH_MENU,
            "processing": true,
			"columns": [
			{
					"data" : {},
					"orderable" : false,
					"name": "order_id",
					"render": (result=>{
						return '<a class="view_order_links" target="_blank" href="<%=active_list_url%>/view/'+result.order_id+'">'+result.order_id+ '</a>';
					})
				}, 
				{
					"data" : {},
					"orderable" : false,
					"name": "image",
					"render" : function (result) {
						if(result && result.productDetails.image){
							var imageUrl = '<img class="image_view" src="'+result.full_image_path +'" />'
							return imageUrl;
						}
					}
				}, 

				{
					"data" : {},
					"orderable" : false,
					"name": "product_title",
					"render" : (result=>{
						let linkTag='<a href="<%=WEBSITE_ADMIN_URL%>products/view/'+result.productDetails._id+'" class="view_order_links" target="_blank">'+(result.productDetails.product_title ? result.productDetails.product_title:'')+'</a>'
						return linkTag;
					})
				}, 

				{
					"data" : {},
					"orderable" : false,
					"name": "seller_name",
					"render" : (result=>{
						let linkTag='<a href="<%=WEBSITE_ADMIN_URL%>users/view/'+result.sellerDetails._id+'" class="view_order_links" target="_blank">'+(result.sellerDetails.full_name ? result.sellerDetails.full_name : '')+'</a>'
						return linkTag;
					})
				}, 

				{
					"data" : {},
					"orderable" : false,
					"name": "buyer_name",
					"render" : (result=>{
						let linkTag='<a href="<%=WEBSITE_ADMIN_URL%>users/view/'+result.buyerDetails._id+'" class="view_order_links" target="_blank">'+(result.buyerDetails.full_name ? result.buyerDetails.full_name:'')+'</a>'
						return linkTag;
					})
				}, 

				{
					"data" : "quantity",
					"orderable" : true,
					"name": "quantity",
					"render" : (result=>{
						if(result && result > 0){
							return result;
						}else{
							return 0;
						}
					})
				}, 
			
				{
					"data" : "total_price",
					"orderable" : true,
					"name": "total_price",
					"render" : (result=>{
						if(result && result > 0){
							return result;
						}else{
							return 0;
						}
					})
				}, 
			
				{
					data: 'order_status',
					name: 'order_status',
					"orderable" : false,
					render:  (order_status=> {
						let labelClas="",labelText="";
						if(order_status=="<%=API_ORDER_REQUESTED%>"){ labelClass="bg-dark"; labelText="Requested"; }
						else if(order_status=="<%=API_ORDER_ACCEPTED%>"){ labelClass="bg-warning"; labelText="Accepted"; }
						else if(order_status=="<%=API_ORDER_REJECTED%>"){ labelClass="bg-danger"; labelText="Rejected"; }
						else if(order_status=="<%=API_ORDER_DISPATCHED%>"){ labelClass="bg-info2"; labelText="Dispatched"; }
						else if(order_status=="<%=API_ORDER_SHIPPED%>"){ labelClass="bg-info"; labelText="Shipped"; }
						else if(order_status=="<%=API_ORDER_DELIVERED%>"){ labelClass="bg-success"; labelText="Dilivered"; }
						else if(order_status=="<%=API_ORDER_RETURN_REQ%>"){ labelClass="bg-danger"; labelText="Requested To Return"; }
						else if(order_status=="<%=API_ORDER_RETURNED%>"){ labelClass="bg-danger"; labelText="Returned"; }
						else if(order_status=="<%=API_ORDER_CANCELED%>"){ labelClass="bg-danger"; labelText="Cancelled"; }
						else if(order_status=="<%=API_ORDER_RATED%>"){ labelClass="bg-success"; labelText="Rated"; }
						else if(order_status=="<%=API_ORDER_RETURN_REQ_ACCEPT%>"){ labelClass="bg-warning"; labelText="Return Request Accepted"; }
						else if(order_status=="<%=API_ORDER_RETURN_REQ_REJECT%>"){ labelClass="bg-danger"; labelText="Return Request Rejected"; }
						return ('<span class="notice text-white ' +labelClass +'">' +labelText +"</span>");
					})
				},	
				{
					"data" : 'created',
					render : (created=>{
						return moment(created).format(DEFAULT_DATE_TIME_FORMAT);
					})
				},  
				{
					"data"      : {},
					"orderable" : false,
					"render"    : (result=>{
						var orderId			= (result) ? result.order_id :''; 
						var status			= (result) ? result.is_active :'';
						var phoneVerified	= (result.mobile_verified == '<%=VERIFIED%>') ? "hide" :"show"; 
						var emailVerified	= (result.email_verified == '<%=VERIFIED%>') ? "hide" :"show"; 
						var statusText	= (result.is_active && result.is_active == '<%=ACTIVE%>') ? '<%=__("admin.system.deactivate")%>' :'<%=__("admin.system.activate")%>'; 
						var html    = 
								'<div class="input-group">'+
									'<button type="button" class="btn btn-default btn-xs text-black no-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><%=__("admin.system.action")%></span> <span class="fa fa-caret-down"></span> <span class="sr-only">Toggle Dropdown</span> </button>'+
									'<ul class="dropdown-menu dropdown-menu-right">'+
										'<li><a href="<%=active_list_url%>/view/'+orderId+'"><%=__("admin.system.view")%></a></li>'+
									'</ul>'+
							'</div>'
						return html;
					})
				}
            ],
            "ajax": {
				"type" 	    : "POST",
				"url"		: "<%= active_list_url%>",
				"data"      : (d=>{
					d.fromDate  = fromDate();
					d.toDate  	= toDate();
					d.order_status =  $("#search_by_status").val();
					d.seller_name =	$("#seller_name").val();
					d.buyer_name =	$("#buyer_name").val();
					d.location =	$("#search_by_location").val();
				}),
				"dataSrc"	: (res=>{
					return res.data;
				})
			}	
			
		});	
		/**
		* Search by status
		*
		
		* @param null
		*
		* @return void
		*/
		
		$(document).on("change","#search_by_status",function(){
			dataTable.draw();
		});
		$(document).on("change","#search_by_location",function(){
			dataTable.draw();
		});
		$(document).on("input","#seller_name",function(){
			dataTable.draw();
		});
		$(document).on("input","#buyer_name",function(){
			dataTable.draw();
		});
		$(document).on("change","#search_by_month",function(){
			let value = $(this).val();
			if(!value==""){
				sessionStorage.setItem("searchByMonth",true);
				sessionStorage.setItem("searchByMonthValue",value);
			}else{
				sessionStorage.setItem("searchByMonth","");
				sessionStorage.setItem("searchByMonthValue","");
			}
			dataTable.draw();
		});
	});
	/** This function is used to get date by condition of search type*/
	function fromDate(){
		if(sessionStorage.getItem("searchByMonth") && Boolean(sessionStorage.getItem("searchByMonth"))){
			return getMonthDate();
		}else{
			return $("#from_date").val();
		}
	}/** end fromDate*/

	/** This function is used to get date by condition of search type*/
	function toDate(){
		if(sessionStorage.getItem("searchByMonth") && Boolean(sessionStorage.getItem("searchByMonth"))){
			let date =  new Date();
			let newDate = String(new Date(date.getFullYear(), date.getMonth() + 1, 0)).split("(");
			return newDate[0];
		}else{
			return $("#to_date").val();
		}
	}/** end toDate*/

	/** This function is used to get formated date according to month number*/
	function getMonthDate(){
		let date =  new Date();
		let newDate = String(new Date(date.getFullYear(), (date.getMonth()-Number($("#search_by_month").val())), 1)).split("(");
		return newDate[0];
	}/** end getMonthDate*/

	/** Function to search in data table */
	function  searchDatatable(columnNumber){
		
		var data = $('#column_number_'+columnNumber).val();
		dataTable.search(data,columnNumber).draw();
	};


	/** Function to searching in data table by date range*/
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'right'
		}, function(start, end, label) {
			$("#from_date").val(start);
			$("#to_date").val(end);
			$("#daterange").val(start.format('MM-DD-YYYY')+" "+end.format('MM-DD-YYYY'));
			dataTable.draw();
		});
	});
</script>
<script src="<%=WEBSITE_JS_FILE_PATH%>datatable_state_storage.js"></script>
