<div class="row small-spacing">
    <div class="col-lg-12 col-md-12 col-xs-12">
		<div class="box-content card bordered-all primary js__card">
			<h4 class="box-title bg-primary with-control">
				<%=__('admin.system.search')%>
				<span class="controls">
					<button type="button" class="control fa fa-minus js__card_minus"></button>
				</span>
			</h4>
			<div class="card-content js__card_content">
				<form id="searchForm" name="searchForm" >
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<input type="text" class="form-control" name="name" onkeyUp="searchDatatable(0)" id="column_number_0" placeholder="<%= __('admin.user.search_by_name')%>">
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<input type="text" class="form-control" name="subject" onkeyUp="searchDatatable(1)" id="column_number_1" placeholder="<%= __('admin.user.search_by_subject')%>">
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<button type="button" id="reset" class="btn btn-md waves-effect btn-danger">
							<i class="ico ico-left fa fa-refresh"></i>
							<%= __("admin.system.reset")%>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="box-content">
			<h4 class="box-title"><%=__('admin.email_templates.email_templates')%></h4>
			<div class="dropdown js__drop_down"></div>
			<table id="data-table" class="table table-striped table-bordered display" style="width:100%">
				<thead>
					<tr>
						<th><%= __('admin.system.name')%></th>
						<th><%=__('admin.email_templates.subject')%></th>
						<th><%=__('admin.system.created')%></th>
						<th><%=__('admin.system.action')%></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- DateRangepicker -->
<link rel="stylesheet" href="<%=WEBSITE_CSS_FILE_PATH%>plugin/daterangepicker/daterangepicker.css">

<!-- Jquery update version for datatable-->
<script src="<%=WEBSITE_JS_FILE_PATH%>scripts/jquery-3.0.0.js"></script>
<script>
	var dataTable ="";
	$(document).ready(()=>{
		dataTable = $('#data-table').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"dom"		: 'ltrip',
            "serverSide": true,
            "scrollX"	: true,
            "sorting"	: [[2,"desc"]],
            "lengthMenu": PAGE_LENGTH_MENU,
            "processing": true,
			"columns": [
				{"data" : 'name'}, 
				{"data" : 'subject'},
				{
					"data" : 'modified',
					render : (modified=>{
						return moment(modified).format(DEFAULT_DATE_TIME_FORMAT);
					})
				},  
				{
					"data"      : {},
					"orderable" : false,
					"render"    : (result=>{
						var id			= (result) ? result._id :''; 
						var statusDisApproved 	= (result.is_approved && result.is_approved == '<%=NOT_APPROVED%>') ? 'hide' :'';
						var html 		= 
						'<a type="button" class="btn btn-sm btn-warning" href="<%=active_list_url%>/edit/' + id +'"><i class="ico fa fa-edit"></i> <%= __("admin.system.edit")%></a>&nbsp;';
						return html;
					})
				}
            ],
            "ajax": {
				"type" 	    : "POST",
				"url"		: "<%= active_list_url%>",
				"dataSrc"	: (res=>{
					return res.data;
				})
			}
		});
	});

	/** Function to search in data table */
	searchDatatable = (columnNumber=>{
		var data = $('#column_number_'+columnNumber).val();
		dataTable.search(data,columnNumber).draw();
	});
</script>
<script src="<%=WEBSITE_JS_FILE_PATH%>datatable_state_storage.js"></script>
